**Assignment 3**

Name: Harini R

Roll no.: SSNCE195002044

## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

1. What is 7 to the power of 4?

In [37]:
7**4

2401

2. Split this string: s = "Hi there Sam!" into a list.

In [38]:
s = "Hi there Sam!"
s.split()

['Hi', 'there', 'Sam!']

Given the variables:
    planet = "Earth",
    diameter = 12742 ;

Use .format() to print the following string: The diameter of Earth is 12742 kilometers.

In [39]:
planet="Earth"
diameter=12742
print("The diameter of {} is {} kilometers.".format(planet,diameter))

The diameter of Earth is 12742 kilometers.

** Given this nested list, use indexing to grab the word "hello" **

In [40]:
l= [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
print(l[3][1][2][0])

hello

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [41]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
d['k1'][3]['tricky'][3]['target'][3]

'hello'

** What is the main difference between a tuple and a list? **

In [42]:
#Tuple is immutable where as list is mutable

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [43]:
def domain(email):
    return email.split('@')[-1]
domain('user@domain.com')

'domain.com'

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [44]:
def finddog(st):
    return 'dog' in st.lower().split()
print(finddog('That is a Dog'))

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [45]:
def countdog(st):
    count = 0
    for word in st.lower().split():
        if word == 'dog':
            count += 1
    return count
countdog('This dog is older than the other dog')

2

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [46]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'
print(caught_speeding(81,False))
print(caught_speeding(81,True))

Big Ticket
Small Ticket

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [47]:
emp=[100,200,300,400,500]
sum=0
for i in emp:
    sum=sum+i
print(sum)

1500

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [48]:
dict_1={1:{1,"A",3000}, 2:{2,"B",4000}}
dict_2={1: {"IT","1"}, 2:{"CSE","2"}}
dict_3 = {**dict_1, **dict_2}
for key, value in dict_3.items():
    if key in dict_1 and key in dict_2:
        dict_3[key] = [dict_1[key],value ]
print(dict_3)

{1: [{3000, 1, 'A'}, {'IT', '1'}], 2: [{4000, 2, 'B'}, {'2', 'CSE'}]}