## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [ ]:
print(7**4)

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [ ]:
s = "Hi there Sam!"

In [ ]:
print(s.split())

['Hi', 'there', 'Sam!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [ ]:
t="The diameter of {plnt} is {dia} kilometers."
planet = "Earth"
diameter = 12742

In [ ]:
print(t.format(plnt=planet,dia=diameter))

The diameter of Earth is 12742 kilometers.

** Given this nested list, use indexing to grab the word "hello" **

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [ ]:
print(lst[3][1][2][0])

hello

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [ ]:
print(d['k1'][3]['tricky'][3]['target'][3])

hello

** What is the main difference between a tuple and a list? **

In [ ]:
Tuple cannot be changed(immutable) while a list can be changed(mutable) after they are .

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [ ]:
mail=["devianushan19028@it.ssn.edu.in","anusha@gmail.com","devianusha@yahoo.com","anushadevi@outlook.com"]

In [ ]:
for i in range(len(mail)):
  ind=mail[i].find('@')
  print(mail[i]+" : "+mail[i][ind:])

devianushan19028@it.ssn.edu.in : @it.ssn.edu.in
anusha@gmail.com : @gmail.com
devianusha@yahoo.com : @yahoo.com
anushadevi@outlook.com : @outlook.com

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [ ]:
sdog=["The loyalty of dog makes it a man's best friend","Fear kills more dreams than failure ever will "]

In [ ]:
for i in sdog:
  print(i,end=" : ")
  tt=i.lower()
  if(tt.count("dog")==0):
    print("False")
  else:
    print("True")

The loyalty of dog makes it a man's best friend : True
Fear kills more dreams than failure ever will  : False

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [ ]:
scdog=["Dog barks like a dOg which is of DOG's years","The loyalty of dog makes it a man's best friend","Fear kills more dreams than failure ever will "]

In [ ]:
for i in scdog:
  print(i,end=" : ")
  tt=i.lower()
  print(tt.count("dog"))

Dog barks like a dOg which is of DOG's years : 3
The loyalty of dog makes it a man's best friend : 1
Fear kills more dreams than failure ever will  : 0

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [ ]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [ ]:
print(caught_speeding(100,1))
print(caught_speeding(100,0))
print(caught_speeding(83,0))
print(caught_speeding(86,1))

Big Ticket
Big Ticket
Big Ticket
Big Ticket

In [ ]:
print(caught_speeding(85,1))
print(caught_speeding(80,0))
print(caught_speeding(65,0))
print(caught_speeding(66,1))

Small Ticket
Small Ticket
Small Ticket
Small Ticket

In [ ]:
print(caught_speeding(65,1))
print(caught_speeding(59,0))
print(caught_speeding(50,1))
print(caught_speeding(55,0))

No Ticket
No Ticket
No Ticket
No Ticket

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [1]:
salary = [10000, 12000,50000]
total = 0
print("Salary for each employee : ")
for s in salary:
  print("\t"+str(s))
  total += s
print("Total salary expenditure : "+str(total))

Salary for each employee :
	10000
	12000
	50000
Total salary expenditure : 72000

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [4]:
d1 = {'empid': 1, 'empname':'Devi anusha N','basicpay':90000}
d2={'deptname':'Information Technology','deptid':'IT'}
for i in d2.keys():
  d1[i]=d2[i]
print(d1)

{'empid': 1, 'empname': 'Devi anusha N', 'basicpay': 90000, 'deptname': 'Information Technology', 'deptid': 'IT'}